{% extends 'base.html' %}
{% load static %}
{% load filters %}


{% block main %}

            <!----Featured Albumn Section Start---->
        <div class="ms_fea_album_slider padder_top10 ">
                <div class="ms_heading">
                    <h1>Featured Albums</h1>
                    <span class="veiw_all"><a href="#">view more</a></span>
                </div>
                <div class="ms_album_slider swiper-container">
                    <div class="swiper-wrapper">
                        {% for album in albums %}
                            <div class="swiper-slide">
                            <div class="ms_rcnt_box">
                                <div class="ms_rcnt_box_img">
                                    <img src="{{ album.image.url }}" width="240" height="240"  alt="">
                                    <div class="ms_main_overlay">
                                        <div class="ms_box_overlay"></div>
                                        <div class="ms_more_icon">
                                            <img src="{% static 'images/svg/more.svg' %}"alt="">
                                        </div>
                                        <ul class="more_option">
                                            <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                            <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>
{#                                            <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>#}
                                        </ul>
                                        <div class="ms_play_icon">
                                            <img src="{% static 'images/svg/play.svg' %}" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="ms_rcnt_box_text">
                                    <h3><a href="album_single.html">{{ album.name|upper }}</a></h3>
                                    <p>{{ album.artist }}</p>
                                </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next3 slider_nav_next"></div>
                <div class="swiper-button-prev3 slider_nav_prev"></div>
            </div>
            <!---Weekly Top 15--->
            <div class="ms_weekly_wrapper">
                <div class="ms_weekly_inner">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ms_heading">
                                <h1>Top 15 Albums</h1>
                            </div>
                        </div>
                        {% for album in albums %}
                            <div class="col-lg-4 col-md-12 padding_right40">
                            <div class="ms_weekly_box">
                                <div class="weekly_left">
                                    <span class="w_top_no">
                                        {% autonum  %}
									</span>
                                    <div class="w_top_song">
                                        <div class="w_tp_song_img">
                                            <img style="width: 50px;height: 50px" src="{{ album.image.url }}" alt="">
                                            <div class="ms_song_overlay">
                                            </div>
                                            <div class="ms_play_icon">
                                                <img src="{% static 'images/svg/play.svg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="w_tp_song_name">
                                            <h3><a href="#">{{ album.name|capfirst }}</a></h3>
                                            <p>{{ album.artist|capfirst }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="weekly_right">
                                    <span class="w_song_time">{% count_track_duration album.track_set.all  %}</span>
                                    <span class="ms_more_icon" data-other="1">
										<img src="{% static 'images/svg/more1.svg' %}" alt="">
									</span>
                                </div>
                                <ul class="more_option">
                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>
                                    <li><a href="{% url "Tracks:album" %}?name={{ album.name }}&genre={{ album.genre.first }}"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download All</a></li>
{#                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>#}
{#                                    <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>#}
                                </ul>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <!----New Releases Section Start---->
            <div class="ms_releases_wrapper">
                <div class="ms_heading">
                    <h1>Newly Released Albums</h1>
                    <span class="veiw_all"><a href="#">view more</a></span>
                </div>
                <div class="ms_release_slider swiper-container">
                    <div class="ms_divider"></div>
                    <div class="swiper-wrapper">
                        {% for album in albums %}
                            <div class="swiper-slide">
                            <div class="ms_release_box">
                                <div class="w_top_song">
                                    <span class="slider_dot"></span>
                                    <div class="w_tp_song_img">
                                        <img src="{{ album.image.url }}" alt="">
                                        <div class="ms_song_overlay">
                                        </div>
                                        <div class="ms_play_icon">
                                            <img src="{% static 'images/svg/play.svg' %}" alt="">
                                        </div>
                                    </div>
                                    <div class="w_tp_song_name">
                                        <h3><a href="#">{{ album.name|capfirst }}</a></h3>
                                        <p>{{ album.artist|capfirst }}</p>
                                    </div>
                                </div>
                                <div class="weekly_right">
                                    <span class="w_song_time">5:10</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next2 slider_nav_next"></div>
                <div class="swiper-button-prev2 slider_nav_prev"></div>
            </div>


{% endblock %}